body {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg, $eerie_black_o2, $eerie_black_o),
      url("../assets/img/patrick-tomasso-GXXYkSwndP4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.9rem;
  margin: 2% auto 0;
  color: $white;
  font-family: $eb_garamond;

  @media screen and (min-width: $computer_breakpoint) {
    font-size: 4.25rem;
  }
}

.icon {
  text-align: center;

  i {
    font-size: 1.8rem;
    padding-right: 10px;
    padding-left: 10px;
    color: $white;

    &:nth-child(2) {
      font-size: 2.5rem;
      margin-top: 10px;
    }
  }
}

main {
  display: flex;
  flex-flow: row wrap;
}

.section-left {
  width: 750px;
  height: 100%;
  margin: 5%;
  background-color: $rich_black;
  padding: 1.5rem;
  border-radius: 0.45rem;
  border: 3px solid $caput_mortuum;
}

.section-right {
  width: 465px;
  height: 400px;
  margin: 5%;
  background-color: $rich_black;
  padding: 1.5rem;
  border-radius: 0.45rem;
  border: 3px solid $caput_mortuum;
}
